.barra {

    stroke: black;
    stroke-width: 2px;

}

#grafico {

    shape-rendering: crispEdges;

}

.rotulo {

    text-anchor: middle;

}

#eixoX text {

    font-size: 120%;
    text-anchor: end;
    transform: translate(-8px, 2px) rotate(-45deg);

}

#eixoY text {

    font-size: 120%;

}

#grade path {

    display: none;

}

#grade line {

    stroke: #aaa;
    stroke-dasharray: 2,2;

}

.tituloeixo {

    font-family: Arial, Helvetica, sans-serif;

}

.linha {

    fill: none;
    stroke: lightblue;
    stroke-width: 3px;

}